body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/91602025471762099/5D79FD6BF5CDF7E8E6D0A53BFB2BE174E3291DA0/");
  height: 1300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 60px;
  text-decoration: underline;
  font-family: 'Righteous', cursive;
  color: #9EC8F5;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

body{
  font-family: 'Acme', sans-serif;
}

a{
  font-size: 30px;
  text-decoration: none;
  color : #9EC8F5;
  padding-top: 100px;
  padding-bottom: 80px;
}

img {
  border-radius: 150px;
  width: 550px;
  height: 550px;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-right: 35px;
  padding-left: 35px;
}

p{
  font-size: 25px;
  text-decoration: none;
  color : #9EC8F5;
  padding-top: 10px;
  padding-right: 80px;
  padding-left: 80px;
}

body
{
margin: 0;
padding: 0;
}
